<footer>

    <ul>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">About the BBC</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Accessibility Help</a></li>
        <li><a href="#">Parental Guidance</a></li>
        <li><a href="#">Contact the BBC</a></li>
        <li><a href="#">Get Personalised Newsletters</a></li>
    </ul>

</footer>







