<section style="background: lightgrey">
    <nav>
        <div id="nav-search">
            <a href="/">
                <img src="/images/newsLogo.png" alt="news logo">
            </a>
            <div id="navbarSupportedContent">
                <form action="/search" method="POST">
                    <input name="search" type="search" placeholder="Search" aria-label="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>           
        <ul>
            <li><a class="nav-btn" href="/">Home</a></li>
            <li><a class="nav-btn" href="/sport">Sport</a></li>
            <li><a class="nav-btn" href="/coronavirus">Coronavirus</a></li>
            <li><a class="nav-btn" href="/science">Science&Tech</a></li>
            <li><a class="nav-btn" href="/business">Business</a></li>
            <li><a class="nav-btn" href="/finance">Finance</a></li>
            <li><a class="nav-btn" href="/travel">Travel</a></li>
            <li><a class="nav-btn" href="/arts">Arts</a></li>
            <li><a class="nav-btn" href="/trending">Trending</a></li>
        </ul>
    </nav>
    <a class="weatherwidget-io" href="https://forecast7.com/en/55d38n3d44/united-kingdom/" data-label_1="UNITED KINGDOM" data-label_2="WEATHER" data-theme="original" >UNITED KINGDOM WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
</section>